{% extends 'shared/header.html' %}
{% block content %}
    <section>
        <div class="container flex justify-center">
            <div class="box-8 shadow-down bg-branco pd-20 mg-t-4 border-rounded">
                <form method="POST" class="form">
                    {% csrf_token %}
                    <h1 class="fonte24 mg-b-3 text-center">Cadastre-se</h1>
                    
                    <div class="box-12 input-group">{{ form.nome.label_tag }} {{ form.nome }}</div>
                    <div class="box-3 input-group">{{ form.cep.label_tag }} {{ form.cep }}</div>
                    <div class="box-7 input-group">{{ form.logradouro.label_tag }} {{ form.logradouro }}</div>
                    <div class="box-2 input-group">{{ form.numero.label_tag }} {{ form.numero }}</div>
                    <div class="box-6 input-group">{{ form.bairro.label_tag }} {{ form.bairro }}</div>
                    <div class="box-6 input-group">{{ form.cidade.label_tag }} {{ form.cidade }}</div>
                    <div class="box-8 input-group">{{ form.email.label_tag }} {{ form.email }}</div>
                    <div class="box-4 input-group">{{ form.senha.label_tag }} {{ form.senha }}</div>
                    
                    <div class="box-12 text-center">
                        <input type="submit" value="Cadastrar" class="btn bg-p4-tan fnc-branco btn-large">
                    </div>
                </form>
            </div>
        </div>
    </section>
    {% endblock %}