{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>agendamento de consulta</title>
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="box-4">
                <h1 class="titulo">
                    Fila Zero
                </h1>

            </div>

            <div class="box-8">

            </div>


        </div>
    </header>
    <section>
        <div class="container">
            <div class="box-8">
                <form action="">
                    
                </form>
            </div>
        </div>
    </section>
    
</body>
</html>