{% extends 'shared/header.html' %}
{% load static %} 
{% block content %}
    <section>
        <div class="container">
            <div class="box-8 mg-t-8 flex justify-center flex-wrap item-centro">
                <h1 class="fonte60 fw-900 mg-t-4">Agendamento online </h1>
                <h2 class="fonte20">Agora você mesmo pode agendar suas consultas de forma prática e rápida.</h2>

                <a href="{% url 'cadastro-usuario' %}" class="btn bg-p4-tan fnc-branco mg-t-4"> Cadastre-se </a>
            </div>
            <div class="box-4">
                <img src="{% static 'img/medical.png' %}" alt="">
            </div>
        </div>
    </section>
    {% endblock %}