{% extends 'shared/header.html' %}
{% block content %}
<div class="container flex justify-center">   

    {% if messages %}
    {% for message in messages %}
    <p class="messages {{ message.tags }}">{{ message }}</p>
    {% endfor %}
    {% endif %}

    <form method="POST" class="box-4 mg-t-10 pd-10 radius shadow-down">
        <h2 class="fonte28 mg-b-4 txt-c">Login</h2>
        {% csrf_token %}
        <div class="box-12">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="box-12">
            {{ form.senha.label_tag }}
            {{ form.senha }}
        </div>
        <div class="box-12">
            <button type="submit" class="btn-100 bg-p2-azul fnc-branco">Entrar</button>
        </div>

    </form>
</div>
{% endblock %}